@use "./variables" as *;

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  &-left-arrow {
    transform: translateY(1px);
    cursor: pointer;
  }

  &-name {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &-right-arrow {
    transform: translateY(1.5px);
    cursor: pointer;
  }
}
