@use "./variables" as *;

.page {
  width: 100vw;
  padding: 1.5rem 2rem;

  &-dining-hall {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &-chart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &-timing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    &-title {
      font-weight: 500;
    }
  }

  &-mealtime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    &-breakfast {
      width: 33%;
      margin-right: 0.5rem;
      border-radius: 0.5rem 0 0 0.5rem;
    }

    &-lunch {
      width: 33%;
      margin-right: 0.5rem;
      border-radius: 0;
    }

    &-dinner {
      width: 33%;
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }

  &-menu {
    background-color: $background-color;
    border-radius: 0.25rem;
    padding: 1rem;

    &-section {
      &-title {
        color: $primary-color;
        padding-bottom: 0.5rem;
      }

      &-items {
      }

      &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
          padding-bottom: 1rem;
          margin-bottom: 1rem;
          border-bottom: 1px solid white;
        }

        &-content {
          width: 75%;
          &-title {
            margin-bottom: 0.5rem;
          }

          &-description {
          }
        }

        &-buttons {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
        }

        &-serving-size {
          width: 100%;
          margin-bottom: 0.5rem;

          & input {
            width: 100%;
          }
        }

        &-add-button {
          width: 100%;
        }
      }
    }
  }
}
