@use "./variables" as *;

.page {
  width: 100vw;
  padding: 1.5rem 2rem;
  &-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    &-left-arrow {
      transform: translateY(1px);
      cursor: pointer;
    }

    &-name {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &-right-arrow {
      transform: translateY(1.5px);
      cursor: pointer;
    }
  }

  &-dining-hall {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &-timing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    &-title {
      font-weight: 500;
    }
  }

  &-mealtime {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-breakfast {
    }

    &-lunch {
    }

    &-dinner {
    }
  }

  &-section {
    &-title {
    }

    &-item {
    }
  }
}
